
.header {
    height: 56px;
    line-height: 56px;  
    box-shadow:0px 2px 8px 0px rgba(198,198,198,0.5);
}
.headerlayout {
    font-size: 18px;
        .i {
            font-size: 24px;
        }
}
.fold {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: .7s;
    &:hover {
        background: rgb(240, 238, 238);
    }
}
// 头像
.avatar {
    display: inline-block;
    vertical-align: middle;
}

