$color: #1790ff;

$fontColor: #4A4A4A;

$colorNormal: #30D07A;
$colorTrouble: #FF9E1F;
$colorError: #FF3826;
$colorOffline: #BEBEBE;

$window_min_width: 1024x;

/* 改变主题色变量 */
$--color-primary: $color;

/* 改变 icon 字体路径变量，必需 */

$--font-path: '~element-ui/lib/theme-chalk/fonts';